<a href="https://colab.research.google.com/github/fedev23/Csv/blob/main/Pickle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import pickle

In [ ]:
!pip3 install funpymodeling

In [9]:
from funpymodeling.exploratory import freq_tbl, status, profiling_num

In [7]:
data = pd.read_csv("new_data.csv", sep=',')

In [10]:
respuesta1 = status(data)
respuesta1.to_csv('tarea_respuesta1.csv', index=False)

In [8]:
data_ohe = pd.get_dummies(data)

In [12]:
data_ohe

,id,nhogar,miembro,comuna,edad,ingreso_total_lab,ingreso_total_no_lab,ingresos_totales,ingresos_familiares,ingreso_per_capita_familiar,...,nivel_actual_Universitario,nivel_max_educativo_Otras escuelas especiales,lugar_nacimiento_CABA,lugar_nacimiento_Otra provincia,lugar_nacimiento_PBA excepto GBA,afiliacion_salud_Otros,afiliacion_salud_Solo obra social,afiliacion_salud_Solo plan de medicina prepaga por contratación voluntaria,hijos_nacidos_vivos_No,cantidad_hijos_nac_vivos_No corresponde
0,21,1,1,3,20,0,4000,4000,4000,4000,...,True,True,False,True,False,False,False,True,False,True
1,22,1,1,12,20,0,22000,22000,22000,22000,...,True,True,False,False,True,False,True,False,False,True
2,23,1,1,14,20,10000,15000,25000,55000,27500,...,True,True,True,False,False,True,False,False,False,True
3,23,1,2,14,21,30000,0,30000,55000,27500,...,True,True,True,False,False,False,False,True,True,True
4,24,1,1,7,20,0,20000,20000,20000,20000,...,True,True,False,True,False,False,False,True,False,True

In [13]:
data_ohe.columns

Index(['id', 'nhogar', 'miembro', 'comuna', 'edad', 'ingreso_total_lab',
       'ingreso_total_no_lab', 'ingresos_totales', 'ingresos_familiares',
       'ingreso_per_capita_familiar', 'años_escolaridad',
       'dominio_Resto de la Ciudad', 'sexo_Mujer', 'sexo_Varon',
       'parentesco_jefe_Jefe', 'parentesco_jefe_Otro familiar',
       'situacion_conyugal_Soltero/a',
       'num_miembro_padre_Padre no vive en el hogar',
       'num_miembro_madre_Madre no vive en el hogar',
       'estado_ocupacional_Desocupado', 'estado_ocupacional_Inactivo',
       'estado_ocupacional_Ocupado', 'cat_ocupacional_Asalariado',
       'cat_ocupacional_No corresponde',
       'cat_ocupacional_Trabajador por cuenta propia',
       'calidad_ingresos_lab_No tuvo ingresos',
       'calidad_ingresos_lab_Tuvo ingresos pero no declara monto',
       'calidad_ingresos_lab_Tuvo ingresos y declara monto',
       'calidad_ingresos_no_lab_No tuvo ingresos',
       'calidad_ingresos_no_lab_Tuvo ingresos y declara monto',
       'calidad_ingresos_totales_Tuvo ingresos pero no declara monto',
       'calidad_ingresos_totales_Tuvo ingresos y declara monto',
       'calidad_ingresos_familiares_Tuvo ingresos pero no declara monto',
       'calidad_ingresos_familiares_Tuvo ingresos y declara monto',
       'estado_educativo_Asiste', 'sector_educativo_Estatal/publico',
       'sector_educativo_Privado no religioso',
       'sector_educativo_Privado religioso', 'nivel_actual_Universitario',
       'nivel_max_educativo_Otras escuelas especiales',
       'lugar_nacimiento_CABA', 'lugar_nacimiento_Otra provincia',
       'lugar_nacimiento_PBA excepto GBA', 'afiliacion_salud_Otros',
       'afiliacion_salud_Solo obra social',
       'afiliacion_salud_Solo plan de medicina prepaga por contratación voluntaria',
       'hijos_nacidos_vivos_No', 'cantidad_hijos_nac_vivos_No corresponde'],
      dtype='object')

In [3]:
import pickle

with open('categories_ohe.pickle', 'wb') as handle:
    pickle.dump(data_ohe.columns, handle, protocol=pickle.HIGHEST_PROTOCOL)

NameError: ignored

In [4]:
new_data = pd.read_csv("new_data.csv", sep=',')

In [12]:
import pickle

with open('categories_ohe.pickle', 'wb') as handle:
    pickle.dump(data_ohe.columns, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [13]:
with open('categories_ohe.pickle', 'rb') as handle:
    ohe_tr = pickle.load(handle)

In [14]:
ohe_tr

Index(['id', 'nhogar', 'miembro', 'comuna', 'edad', 'ingreso_total_lab',
       'ingreso_total_no_lab', 'ingresos_totales', 'ingresos_familiares',
       'ingreso_per_capita_familiar', 'años_escolaridad',
       'dominio_Resto de la Ciudad', 'sexo_Mujer', 'sexo_Varon',
       'parentesco_jefe_Jefe', 'parentesco_jefe_Otro familiar',
       'situacion_conyugal_Soltero/a',
       'num_miembro_padre_Padre no vive en el hogar',
       'num_miembro_madre_Madre no vive en el hogar',
       'estado_ocupacional_Desocupado', 'estado_ocupacional_Inactivo',
       'estado_ocupacional_Ocupado', 'cat_ocupacional_Asalariado',
       'cat_ocupacional_No corresponde',
       'cat_ocupacional_Trabajador por cuenta propia',
       'calidad_ingresos_lab_No tuvo ingresos',
       'calidad_ingresos_lab_Tuvo ingresos pero no declara monto',
       'calidad_ingresos_lab_Tuvo ingresos y declara monto',
       'calidad_ingresos_no_lab_No tuvo ingresos',
       'calidad_ingresos_no_lab_Tuvo ingresos y declara monto',
       'calidad_ingresos_totales_Tuvo ingresos pero no declara monto',
       'calidad_ingresos_totales_Tuvo ingresos y declara monto',
       'calidad_ingresos_familiares_Tuvo ingresos pero no declara monto',
       'calidad_ingresos_familiares_Tuvo ingresos y declara monto',
       'estado_educativo_Asiste', 'sector_educativo_Estatal/publico',
       'sector_educativo_Privado no religioso',
       'sector_educativo_Privado religioso', 'nivel_actual_Universitario',
       'nivel_max_educativo_Otras escuelas especiales',
       'lugar_nacimiento_CABA', 'lugar_nacimiento_Otra provincia',
       'lugar_nacimiento_PBA excepto GBA', 'afiliacion_salud_Otros',
       'afiliacion_salud_Solo obra social',
       'afiliacion_salud_Solo plan de medicina prepaga por contratación voluntaria',
       'hijos_nacidos_vivos_No', 'cantidad_hijos_nac_vivos_No corresponde'],
      dtype='object')

In [18]:
pd.get_dummies(new_data).reindex(columns = ohe_tr)

,id,nhogar,miembro,comuna,edad,ingreso_total_lab,ingreso_total_no_lab,ingresos_totales,ingresos_familiares,ingreso_per_capita_familiar,...,nivel_actual_Universitario,nivel_max_educativo_Otras escuelas especiales,lugar_nacimiento_CABA,lugar_nacimiento_Otra provincia,lugar_nacimiento_PBA excepto GBA,afiliacion_salud_Otros,afiliacion_salud_Solo obra social,afiliacion_salud_Solo plan de medicina prepaga por contratación voluntaria,hijos_nacidos_vivos_No,cantidad_hijos_nac_vivos_No corresponde
0,21,1,1,3,20,0,4000,4000,4000,4000,...,True,True,False,True,False,False,False,True,False,True
1,22,1,1,12,20,0,22000,22000,22000,22000,...,True,True,False,False,True,False,True,False,False,True
2,23,1,1,14,20,10000,15000,25000,55000,27500,...,True,True,True,False,False,True,False,False,False,True
3,23,1,2,14,21,30000,0,30000,55000,27500,...,True,True,True,False,False,False,False,True,True,True
4,24,1,1,7,20,0,20000,20000,20000,20000,...,True,True,False,True,False,False,False,True,False,True

In [15]:
d_tr_ohe_2 = pd.get_dummies(data).reindex(columns = ohe_tr).fillna(0)

In [16]:
d_tr_ohe_2

,id,nhogar,miembro,comuna,edad,ingreso_total_lab,ingreso_total_no_lab,ingresos_totales,ingresos_familiares,ingreso_per_capita_familiar,...,nivel_actual_Universitario,nivel_max_educativo_Otras escuelas especiales,lugar_nacimiento_CABA,lugar_nacimiento_Otra provincia,lugar_nacimiento_PBA excepto GBA,afiliacion_salud_Otros,afiliacion_salud_Solo obra social,afiliacion_salud_Solo plan de medicina prepaga por contratación voluntaria,hijos_nacidos_vivos_No,cantidad_hijos_nac_vivos_No corresponde
0,21,1,1,3,20,0,4000,4000,4000,4000,...,1,1,0,1,0,0,0,1,0,1
1,22,1,1,12,20,0,22000,22000,22000,22000,...,1,1,0,0,1,0,1,0,0,1
2,23,1,1,14,20,10000,15000,25000,55000,27500,...,1,1,1,0,0,1,0,0,0,1
3,23,1,2,14,21,30000,0,30000,55000,27500,...,1,1,1,0,0,0,0,1,1,1
4,24,1,1,7,20,0,20000,20000,20000,20000,...,1,1,0,1,0,0,0,1,0,1

In [17]:
d_tr_ohe_2.to_csv('tarea_respuesta2.csv', index=False)